@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    background-image: url(/assets/img/moon-g66be8bf02_1280.png);
    background-size: cover;
}
.card1 {
    /* background-color: green; */
   height: 90%;
   width: 80%;
   border: 3px solid black;
   margin: 4em auto;
   background-color: #fff;
}
.texteCarte {
    font-size: 1.5em;
    font-weight: bold;
    word-wrap: break-word;
}
.titre input {
    width: 40%;
}
label[for=trebuchet]{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
label[for=christmas]{
    font-family: 'Mountains of Christmas', cursive; 
    font-weight: bold;
}
label[for=roboto]{
    font-family: 'Roboto',sans-serif;
}
.titre1 {
margin-left: auto;
}
.titre1 input {
    width: 80%;
}
.trebuchet {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.christmas {
    font-family: 'Mountains of Christmas', cursive; 
    font-weight: bold;
}
.roboto {
    font-family:'Roboto',sans-serif;;
}

.fond1{
background-image: url(assets/img/snow-g63ad05de0_1280.jpg) !important;
background-size: cover;
}
.fond2{
background-image:url(assets/img/istockphoto-1341072568-612x612.jpg) !important;
}
.fond3 {
background-image: url(assets/img/fond-de-noël-blanc-avec-l-arbre-et-les-décorations-81212313.jpg) !important;
}
.fond4 {
    background-color: white;
}

.param {
    font-size:1.2em ;
    font-weight: bold;
    /* text-decoration: underline; */
    color: white;
    background-color: green;
    border-radius: 1em;
    padding: 0.5em;
    width: max-content;
}
i {
    font-size: 50px;
    cursor: pointer;
    color: white;
}
.print {
    cursor: pointer;
}
label {
    color: white;
    font-weight: bold;
}

@media print {
    .parametre {
        display: none;
    }
    * {
        -webkit-print-color-adjust: exact !important;
      
        color-adjust: exact !important;
 
    }
}
