@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    background-image: url(/assets/img/333125.jpg);
    color:white
}
.card1 {
    /* background-color: green; */
   height: 90%;
   width: 80%;
   border: 1px solid black;
   margin: 4em auto;
}
.texteCarte {
    font-size: 1.5em;
    font-weight: bold;
    word-wrap: break-word;
}
.titre input {
    width: 40%;
}
label[for=trebuchet]{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
label[for=christmas]{
    font-family: 'Mountains of Christmas', cursive; 
    font-weight: bold;
}
label[for=roboto]{
    font-family: 'Roboto',sans-serif;
}
.titre1 {
margin-left: auto;
}
.titre1 input {
    width: 80%;
}
.trebuchet {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.christmas {
    font-family: 'Mountains of Christmas', cursive; 
    font-weight: bold;
}
.roboto {
    font-family:'Roboto',sans-serif;;
}

.fond1{
background-image: url(assets/img/snow-g63ad05de0_1280.jpg) !important;
background-size: cover;
}
.fond2{
background-image:url(assets/img/istockphoto-1341072568-612x612.jpg) !important;
}
.fond3 {
background-image: url(assets/img/fond-de-noël-blanc-avec-l-arbre-et-les-décorations-81212313.jpg) !important;
}
.param {
    font-size:1.2em ;
    font-weight: bold;
    text-decoration: underline;
    
}
i {
    font-size: 50px;
    cursor: pointer;
}
.print {
    cursor: pointer;
}

@media print {
    .parametre {
        display: none;
    }
    * {
        -webkit-print-color-adjust: exact !important;
      
        color-adjust: exact !important;
 
    }
}
